*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    font-family: monospace;
}
body{

    background-color: rgb(58, 84, 84);
}
.top{

    background-color: rgb( 106, 134, 133);
    height: 45px;
    display: flexbox;
    position: relative;
}
.top>ul{
    text-align: right;
    
}
.top>ul>li{

    display: inline-block;
   padding: 10px 6px 0px 4px;
   
}

.top>ul>li>a{
display: inline-block;
color: greenyellow;
padding-right: 15px;


}
.top>ul>li>a:active{
    
    text-decoration: underline green;
}

.top>a{
    width: 70px;
    padding-left: 10px;
    padding-bottom: 1px;
    color: antiquewhite;
    bottom:1px;
    left: 2px;
    position: absolute;
    font-size: 40px;
}
.top>a>span{
    padding-bottom: 0px;
    color: aqua;
    text-decoration:underline 1.4px red;
}
.title {
  margin: 20px ;
  text-align: center;
  font-size: 40px;
  color: rgb(181, 139, 197);

}
.main{

    background-color: rgb(28, 37, 58);
    display:flex;
}
.main div{
    color: rgb(99, 15, 132);
    height: 600px;
    position: relative;
    
}
.img {

    width: 50%;
    height: 340px;
    border: 1px solid greenyellow;
    background-color: burlywood;
    background-image: url("/img/pexels-kampus-production-7414098.jpg");
    background-size: cover;
    margin-left:20px ;
    background-repeat: no-repeat; 
}

.para{

    width: 50%;
    height: 200px;
    background-color: rgb(58, 84, 84);
    margin-left: 20px;
    color:greenyellow;

}
.par p{

    width: 60%;
    height: 200px;
    position: stack;
    

}
.para>h2{

    color: rgb(233, 233, 233);
    text-decoration: 1.5px underline red;
    margin-bottom: 10px;
    font-size: 30px;
    font
}

.mid {

 display: flex;

}